{% extends 'base.html' %}

{% block content%}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->


        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <h4 class="card-title mb-4">Khôi phục mật khẩu</h4>
          <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Mật khẩu mới" name="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" name="confirm_password">
              </div> <!-- form-group// -->
              
              {% include "includes/alerts.html" %}

              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Khôi phục </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>

{% endblock %}